* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("https://c1.wallpaperflare.com/preview/124/455/583/books-bookshop-library-bookstore.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    width: 68%;
    background-color: rgba(87, 87, 225, 0.69);
    height: 100%;
    margin: 9% 16%;
    border-radius: 15px;
}
form input {
    width: 90%;
    margin: 2% 5%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

form .button button {
    margin: 10px 30px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}

form .button button a {
    text-decoration: none;
    font-weight: bold;
}

form p {
    color: rgb(222, 222, 187);
}